[package]
name = "ncgopher"
version = "0.5.0"
authors = ["Jan Schreiber <jan@mecinus.com>"]
edition = "2018"
license = "BSD-2-Clause"
description = "An ncurses gopher and gemini client for the modern internet"
documentation = "https://github.com/jansc/ncgopher/blob/master/README.org"
readme = "README.md"
homepage = "https://github.com/jansc/ncgopher"
repository = "https://github.com/jansc/ncgopher"
keywords = ["cli", "gopher", "gemini", "client"]
categories = ["command-line-utilities", "network-programming"]
exclude = ["screenshots/**"]

[badges.travis-ci]
repository = "jansc/ncgopher"

[dependencies]
backtrace = "0.3"
unicode-width = "0.1.10"
url = { version = "2.3", features = ["serde"] }
urlencoding = "2.1.2"
lazy_static = "1.4.0"
clap = { version = "4.1.6", features = ["derive"] }
log = { version = "0.4.17", features = ["std"] }
dirs = "4.0.0"
rcgen = "0.10"
serde_derive = "1.0"
serde = { version = "1.0", features = ["derive"] }
toml = "0.7.2"
rusqlite = { version = "0.28.0", features = ["url", "time"] }
gemtext = "0.2.1"
native-tls = "0.2.11"
x509-parser = "0.14.0"
ring = "0.16.20"
time = { version = "0.3.20", features = ["serde", "serde-human-readable", "std", "formatting", "parsing"] }
pancurses = "0.17.0"
pem = "1.1"
base64 = "0.21"
percent-encoding = "2.2"
idna = "0.3"
cursive = { version = "0.20.0", default-features = false, features = ["pancurses-backend", "toml"] }
crossbeam-channel = "0.5.7"
regex = "1"
mime = "0.3.16"
linkify = "0.9.0"
